<a href="https://colab.research.google.com/github/Awaistolu/web_scraping/blob/main/African_Grocery_Stores.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [4]:
url='https://www.yellowpages.ca/search/si/1/Grocery+Stores/Toronto+ON'
headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win64; x64)AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
response=requests.get(url,headers=headers)

In [7]:
soup = BeautifulSoup(response.content,'html.parser')

In [8]:
all_list = soup.find_all('div',class_='listing__content__wrapper')

In [9]:
len(all_list)

35

In [10]:
name = all_list[0].find('h3').text.strip()

In [11]:
address = all_list[0].find('div',class_='listing__address address mainLocal').text.strip()

In [12]:
country_wise=all_list[0].find('article',class_='listing__details__teaser').text.strip()

In [13]:
phone_no=all_list[0].find_all('li',class_='mlr__item mlr__item--more mlr__item--phone jsMapBubblePhone')[0].text.strip()

In [30]:
name=[]
address=[]
phone_no=[]


for i in range(1,34):
  try:
    name.append(all_list[i].find('h3').text.strip())
  except:
    name.append(np.nan)
  try:
    address.append(all_list[i].find('span',class_='listing__address--full').text.strip())
  except:
    address.append(np.nan)
  try:
    phone_no.append(all_list[i].find_all('li',class_='mlr__item mlr__item--more mlr__item--phone jsMapBubblePhone')[0].text.strip())
  except:
    phone_no.append(np.nan)
d={'Name':name,'Address':address,'Phone_no':phone_no}
df=pd.DataFrame(d)

In [31]:
df

,Name,Address,Phone_no
0,2\nCharloo's West Indian Foods Inc,"1646 Victoria Park Ave, North York, ON M1R 1P7",Phone Number\n\n416-759-7680
1,Valu-Mart,"1500 Bayview Ave, Toronto, ON M4G 3B4",Phone Number\n\n416-486-8294
2,Caribbean Corner,"171 Baldwin St, Toronto, ON M5T 1L9",Phone Number\n\n416-593-0008
3,Whole Foods Market,"87 Avenue Rd, Toronto, ON M5R 3R9",Phone Number\n\n647-699-0557
4,Loblaws,"17 Leslie St, Toronto, ON M4M 3H9",Phone Number\n\n416-469-2897
5,Loblaws,"3671 Dundas St W, Etobicoke, ON M6S 2T3",Phone Number\n\n416-769-7171
6,Loblaws,"10 Lower Jarvis St, Toronto, ON M5E 1Z2",Phone Number\n\n416-304-0611
7,Loblaws,"396 St Clair Ave W, Toronto, ON M5P 3N3",Phone Number\n\n416-651-5166
8,Loblaws,"3501 Yonge St, North York, ON M4N 2N5",Phone Number\n\n416-481-7753
9,Loblaws,"60 Carlton St, Toronto, ON M5B 1J2",Phone Number\n\n416-593-6154
10,Loblaws,"50 Musgrave St, Toronto, ON M4E 3W2",Phone Number\n\n416-694-3838
11,Loblaws,"585 Queen St W, Toronto, ON M5V 2B7",Phone Number\n\n416-703-3419
12,Loblaws,"720 Broadview Ave, Toronto, ON M4K 2P1",Phone Number\n\n416-778-8762
13,Loblaws,"650 Dupont St, Toronto, ON M6G 4B1",Phone Number\n\n416-588-3756
14,Carribean Island Food,"3432 Weston Rd, North York, ON M9M 2W1",Phone Number\n\n416-746-1592
15,IGA,NaN,Phone Number\n\n416-694-3011
16,Rabba Fine Foods,"2125 Lake Shore Blvd W, Etobicoke, ON M8V 0B3",Phone Number\n\n416-251-0181
17,L Kraft General Food Ltd,"2150 Lake Shore Blvd W, Etobicoke, ON M8V 1A3",Phone Number\n\n416-503-0016
18,Sobeys Sobeys Supermarkets,"125 The Queensway, Etobicoke, ON M8Y 1H6",Phone Number\n\n416-259-1758
19,Chowk Bazaar,"3100 Danforth Ave, Scarborough, ON M1L 1B1",Phone Number\n\n647-352-5009
20,FreshCo,"2490 Gerrard St E, Scarborough, ON M1N 1W7",Phone Number\n\n416-698-3353
21,Metro Ontario Inc,"2208 Lake Shore Blvd W, Toronto, ON M8V 1A4",Phone Number\n\n416-259-9277
22,Metro Humber Bay Park,"2208 Lake Shore Blvd W, Toronto, ON M8V 1A4",Phone Number\n\n416-201-0441
23,Fallingbrook Market & Cafe,"158 Fallingbrook Rd, Toronto, ON M1N 1N3",Phone Number\n\n416-690-6655
24,Berry Road Food Co-Op,"150 Berry Rd, Etobicoke, ON M8Y 1W3",Phone Number\n\n647-479-9584
25,Spice Urban Towns,"3194 Danforth Ave, Scarborough, ON M1L 1B7",Phone Number\n\n416-932-3443
26,Canada Herb,"144 Park Lawn Rd, Etobicoke, ON M8Y 3H8",Phone Number\n\n416-588-4549
27,Rabba Fine Foods,"2275 Lake Shore Blvd W, Etobicoke, ON M8V 3Y3",Phone Number\n\n416-201-0179
28,Sunnyview Grocery & Variety,"237 Park Lawn Rd, Etobicoke, ON M8Y 3J3",Phone Number\n\n416-255-0116
29,7 Star Convenience & Grocery,"3304 Danforth Ave, Scarborough, ON M1L 1C4",Phone Number\n\n416-946-3430
30,Lakeshore Mini Mart,"2316 Lake Shore Blvd W, Etobicoke, ON M8V 1B5",Phone Number\n\n416-251-5889
31,Lakeshore Valu-Mart,"2399 Lake Shore Blvd W, Etobicoke, ON M8V 1C5",Phone Number\n\n416-503-3491
32,Baraka Supermarket,"60 Danforth Rd, Scarborough, ON M1L 3W4",Phone Number\n\n416-792-6060

In [33]:
new_df =pd.DataFrame()
for j in range(1,65):
  url='https://www.yellowpages.ca/search/si/{}/Grocery+Stores/Toronto+ON'.format(j)
  headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win64; x64)AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
  response=requests.get(url,headers=headers)
  soup = BeautifulSoup(response.content,'html.parser')
  all_list = soup.find_all('div',class_='listing__content__wrapper')
  name=[]
  address=[]
  phone_no=[]


  for i in range(1,len(all_list)):
    try:
      name.append(all_list[i].find('h3').text.strip())
    except:
      name.append(np.nan)
    try:
      address.append(all_list[i].find('span',class_='listing__address--full').text.strip())
    except:
      address.append(np.nan)
    try:
      phone_no.append(all_list[i].find_all('li',class_='mlr__item mlr__item--more mlr__item--phone jsMapBubblePhone')[0].text.strip())
    except:
      phone_no.append(np.nan)
  d={'Name':name,'Address':address,'Phone_no':phone_no}
  df=pd.DataFrame(d)
  new_df = new_df.append(df, ignore_index=True)

In [34]:
new_df

,Name,Address,Phone_no
0,2\nCharloo's West Indian Foods Inc,"1646 Victoria Park Ave, North York, ON M1R 1P7",Phone Number\n\n416-759-7680
1,Valu-Mart,"1500 Bayview Ave, Toronto, ON M4G 3B4",Phone Number\n\n416-486-8294
2,Caribbean Corner,"171 Baldwin St, Toronto, ON M5T 1L9",Phone Number\n\n416-593-0008
3,Whole Foods Market,"87 Avenue Rd, Toronto, ON M5R 3R9",Phone Number\n\n647-699-0557
4,Loblaws,"17 Leslie St, Toronto, ON M4M 3H9",Phone Number\n\n416-469-2897
...,...,...,...
2035,Sprinkles Cakery by Ashifa Saleem,"Oakville, ON L6M 0S9",Phone Number\n\n647-622-4321
2036,Country Cheese Company,"3-289 Kingston Rd E, Ajax, ON L1Z 0K5",Phone Number\n\n289-482-1183
2037,Katie Tumbin Independent Epicure Consultant,"2156 Sunnybrook Crt, Oakville, ON L6L 1P4",Phone Number\n\n289-400-6336
2038,Jennifer Neal Marketing,"1108-2185 Marine Dr, Oakville, ON L6L 5L6",Phone Number\n\n905-825-2077
2039,Joe & Val's No Frills,"14800 Yonge St, Aurora, ON L4G 1N3",Phone Number\n\n1-866-987-6453

In [ ]:
# new_df.to_csv('African_Grocery Stores')

In [ ]:
# pd.read_csv('African_Grocery Stores.csv')

In [35]:
new_df.head(5)

,Name,Address,Phone_no
0,2\nCharloo's West Indian Foods Inc,"1646 Victoria Park Ave, North York, ON M1R 1P7",Phone Number\n\n416-759-7680
1,Valu-Mart,"1500 Bayview Ave, Toronto, ON M4G 3B4",Phone Number\n\n416-486-8294
2,Caribbean Corner,"171 Baldwin St, Toronto, ON M5T 1L9",Phone Number\n\n416-593-0008
3,Whole Foods Market,"87 Avenue Rd, Toronto, ON M5R 3R9",Phone Number\n\n647-699-0557
4,Loblaws,"17 Leslie St, Toronto, ON M4M 3H9",Phone Number\n\n416-469-2897

In [36]:
new_df['Name'] = new_df['Name'].str.split(' ').str.slice(0,4).str.join(' ')

In [37]:
new_df

,Name,Address,Phone_no
0,2\nCharloo's West Indian Foods,"1646 Victoria Park Ave, North York, ON M1R 1P7",Phone Number\n\n416-759-7680
1,Valu-Mart,"1500 Bayview Ave, Toronto, ON M4G 3B4",Phone Number\n\n416-486-8294
2,Caribbean Corner,"171 Baldwin St, Toronto, ON M5T 1L9",Phone Number\n\n416-593-0008
3,Whole Foods Market,"87 Avenue Rd, Toronto, ON M5R 3R9",Phone Number\n\n647-699-0557
4,Loblaws,"17 Leslie St, Toronto, ON M4M 3H9",Phone Number\n\n416-469-2897
...,...,...,...
2035,Sprinkles Cakery by Ashifa,"Oakville, ON L6M 0S9",Phone Number\n\n647-622-4321
2036,Country Cheese Company,"3-289 Kingston Rd E, Ajax, ON L1Z 0K5",Phone Number\n\n289-482-1183
2037,Katie Tumbin Independent Epicure,"2156 Sunnybrook Crt, Oakville, ON L6L 1P4",Phone Number\n\n289-400-6336
2038,Jennifer Neal Marketing,"1108-2185 Marine Dr, Oakville, ON L6L 5L6",Phone Number\n\n905-825-2077
2039,Joe & Val's No,"14800 Yonge St, Aurora, ON L4G 1N3",Phone Number\n\n1-866-987-6453

In [38]:
new_df['Address'] = new_df['Address'].str.split(',').str.get(0)

In [39]:
new_df['Address'] = new_df['Address'].str.split(' ').str.slice(1,3).str.join(' ')

In [40]:
new_df['Phone_no'] = new_df['Phone_no'].str.split(' ').str.get(1)

In [41]:
new_df['Phone_no'] = new_df['Phone_no'].astype(str)

In [42]:
new_df['Phone_no'] = new_df['Phone_no'].str.replace('Number\n\n','')

In [43]:
new_df

                                  Name         Address        Phone_no
0       2\nCharloo's West Indian Foods   Victoria Park    416-759-7680
1                            Valu-Mart     Bayview Ave    416-486-8294
2                     Caribbean Corner      Baldwin St    416-593-0008
3                   Whole Foods Market       Avenue Rd    647-699-0557
4                              Loblaws       Leslie St    416-469-2897
...                                ...             ...             ...
2035        Sprinkles Cakery by Ashifa                    647-622-4321
2036            Country Cheese Company     Kingston Rd    289-482-1183
2037  Katie Tumbin Independent Epicure  Sunnybrook Crt    289-400-6336
2038           Jennifer Neal Marketing       Marine Dr    905-825-2077
2039                    Joe & Val's No        Yonge St  1-866-987-6453

[2040 rows x 3 columns]

In [ ]:
# new_df.drop(columns=['Address','Country_wise'],index=1,inplace=True)

In [44]:
new_df

                                  Name         Address        Phone_no
0       2\nCharloo's West Indian Foods   Victoria Park    416-759-7680
1                            Valu-Mart     Bayview Ave    416-486-8294
2                     Caribbean Corner      Baldwin St    416-593-0008
3                   Whole Foods Market       Avenue Rd    647-699-0557
4                              Loblaws       Leslie St    416-469-2897
...                                ...             ...             ...
2035        Sprinkles Cakery by Ashifa                    647-622-4321
2036            Country Cheese Company     Kingston Rd    289-482-1183
2037  Katie Tumbin Independent Epicure  Sunnybrook Crt    289-400-6336
2038           Jennifer Neal Marketing       Marine Dr    905-825-2077
2039                    Joe & Val's No        Yonge St  1-866-987-6453

[2040 rows x 3 columns]

In [45]:
new_df.isnull().sum()

Name         0
Address     19
Phone_no     0
dtype: int64

In [47]:
new_df.dropna(inplace=True)

In [48]:
new_df.isnull().sum()

Name        0
Address     0
Phone_no    0
dtype: int64

In [49]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2021 entries, 0 to 2039
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      2021 non-null   object
 1   Address   2021 non-null   object
 2   Phone_no  2021 non-null   object
dtypes: object(3)
memory usage: 63.2+ KB

In [78]:
new_df['Phone_no'] = new_df['Phone_no'].str.replace('-\n',' ')

In [90]:
new_df = new_df[new_df['Phone_no']!='4163647397\n\n18006640430']

In [91]:
new_df

                                  Name         Address     Phone_no
0       2\nCharloo's West Indian Foods   Victoria Park   4167597680
1                            Valu-Mart     Bayview Ave   4164868294
2                     Caribbean Corner      Baldwin St   4165930008
3                   Whole Foods Market       Avenue Rd   6476990557
4                              Loblaws       Leslie St   4164692897
...                                ...             ...          ...
2035        Sprinkles Cakery by Ashifa                   6476224321
2036            Country Cheese Company     Kingston Rd   2894821183
2037  Katie Tumbin Independent Epicure  Sunnybrook Crt   2894006336
2038           Jennifer Neal Marketing       Marine Dr   9058252077
2039                    Joe & Val's No        Yonge St  18669876453

[2020 rows x 3 columns]

In [106]:
new_df = new_df[new_df['Phone_no']!='4164980922\n\n18669876453']

In [118]:
new_df['Phone_no'].astype(str)

0        4167597680
1        4164868294
2        4165930008
3        6476990557
4        4164692897
           ...
2035     6476224321
2036     2894821183
2037     2894006336
2038     9058252077
2039    18669876453
Name: Phone_no, Length: 2019, dtype: object

In [122]:
new_df['Phone_no'] = new_df['Phone_no'].str.replace('\n\n','')

In [126]:
new_df['Phone_no'] = new_df['Phone_no'].astype(str)