<a href="https://colab.research.google.com/github/Tolu786/web_scraping/blob/main/pakistan_car_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [176]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [177]:
url='https://www.pakwheels.com/used-cars/search/-/mk_honda/ct_lahore/?page=1'

In [178]:
headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win64; x64)AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
response = requests.get(url,headers=headers)

In [179]:
soup = BeautifulSoup(response.content,'html.parser')

In [180]:
all_list=soup.find_all('div', class_='well')

In [ ]:
all_list[1].find('a',class_='car-name').text.strip()

'Honda Civic  2016 Oriel 1.8 i-VTEC CVT for Sale'

In [ ]:
all_list[1].find_all('ul',class_='list-unstyled')[2].text.strip()

'Lahore'

In [ ]:
all_list[1].find_all('li')[0].text.strip()

'2016'

In [ ]:
all_list[1].find_all('li')[1].text.strip()

'69,000 km'

In [ ]:
all_list[1].find_all('li')[2].text.strip()

'Petrol . 1800 cc . Automatic'

In [190]:
name=[]
price=[]
city=[]
year=[]
milage=[]
engine=[]

for i in range(1,len(all_list)):
  try:
    name.append(all_list[i].find('a',class_='car-name').text.strip())
  except:
    name.append(np.nan)
  try:
    price.append(all_list[i].find('div',class_='price-details').text.strip())
  except:
    price.append(np.nan)
  try:
    city.append(all_list[i].find_all('ul',class_='list-unstyled')[2].text.strip())
  except:
    city.append(np.nan)
  try:
    year.append(all_list[i].find_all('li')[0].text.strip())
  except:
    year.append(np.nan)
  try:
    milage.append(all_list[i].find_all('li')[1].text.strip())
  except:
    milage.append(np.nan)
  try:
    engine.append(all_list[i].find_all('li')[2].text.strip())
  except:
    engine.append(np.nan)
d={'Name':name ,'Price':price ,'City':city ,'Year':year ,'Milage':milage ,'Engine':engine }
df=pd.DataFrame(d)

In [192]:
df.head()

,Name,Price,City,Year,Milage,Engine
0,Honda Civic 2022 Turbo 1.5 VTEC CVT for Sale,Call,Lahore,2022,1 km,Petrol . 1500 cc . Automatic
1,Honda Civic 2016 Oriel 1.8 i-VTEC CVT for Sale,PKR 34.5 lacs,Lahore,2016,"69,000 km",Petrol . 1800 cc . Automatic
2,Honda Vezel 2016 Hybrid Z for Sale,PKR 47.95 lacs,Lahore,2016,"104,502 km",Hybrid . 1500 cc . Automatic
3,Honda Vezel 2016 Hybrid RS Honda Sensing for...,PKR 52.75 lacs,Lahore,2016,"77,920 km",Hybrid . 1500 cc . Automatic
4,Honda Civic 2020 Oriel 1.8 i-VTEC CVT for Sale,PKR 42.5 lacs,Lahore,2020,"47,000 km",Petrol . 1800 cc . Automatic

In [197]:
new_df=pd.DataFrame()
for j in range(1,160):
  url='https://www.pakwheels.com/used-cars/search/-/mk_honda/ct_lahore/?page={}'.format(j)
  headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win64; x64)AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
  response = requests.get(url,headers=headers)
  soup = BeautifulSoup(response.content,'html.parser')
  all_list=soup.find_all('div', class_='well')
  name=[]
  price=[]
  city=[]
  year=[]
  milage=[]
  engine=[]

  for i in range(1,len(all_list)):

    try:
      name.append(all_list[i].find('a',class_='car-name').text.strip())
    except:
      name.append(np.nan)
    try:
      price.append(all_list[i].find('div',class_='price-details').text.strip())
    except:
      price.append(np.nan)
    try:
      city.append(all_list[i].find_all('ul',class_='list-unstyled')[2].text.strip())
    except:
      city.append(np.nan)
    try:
      year.append(all_list[i].find_all('li')[0].text.strip())
    except:
      year.append(np.nan)
    try:
      milage.append(all_list[i].find_all('li')[1].text.strip())
    except:
      milage.append(np.nan)
    try:
      engine.append(all_list[i].find_all('li')[2].text.strip())
    except:
      engine.append(np.nan)
  d={'Name':name ,'Price':price ,'City':city ,'Year':year ,'Milage':milage ,'Engine':engine }
  df=pd.DataFrame(d)
  new_df=new_df.append(df, ignore_index=True)

In [198]:
 new_df

,Name,Price,City,Year,Milage,Engine
0,Honda Civic 2022 Turbo 1.5 VTEC CVT for Sale,Call,Lahore,2022,1 km,Petrol . 1500 cc . Automatic
1,Honda Civic 2016 Oriel 1.8 i-VTEC CVT for Sale,PKR 34.5 lacs,Lahore,2016,"69,000 km",Petrol . 1800 cc . Automatic
2,Honda Vezel 2016 Hybrid Z for Sale,PKR 47.95 lacs,Lahore,2016,"104,502 km",Hybrid . 1500 cc . Automatic
3,Honda Vezel 2016 Hybrid RS Honda Sensing for...,PKR 52.75 lacs,Lahore,2016,"77,920 km",Hybrid . 1500 cc . Automatic
4,Honda Civic 2020 Oriel 1.8 i-VTEC CVT for Sale,PKR 42.5 lacs,Lahore,2020,"47,000 km",Petrol . 1800 cc . Automatic
...,...,...,...,...,...,...
4791,Honda Civic 2012 VTi Oriel Prosmatec 1.8 i-VT...,PKR 21 lacs,Lahore,2012,"100,000 km",Petrol . 0.0 kWh . Automatic
4792,Honda City 2000 EXi for Sale,PKR 8.7 lacs,Lahore,2000,"110,000 km",Petrol . 1300 cc . Manual
4793,Honda Civic Reborn 2010 VTi 1.8 i-VTEC for Sale,PKR 16 lacs,Lahore,2010,"140,000 km",Petrol . 1800 cc . Manual
4794,NaN,NaN,NaN,Engine,Suspension,Exterior
4795,NaN,NaN,NaN,Sell up to 10x faster,Get your Ad noticed by 50 lac+ Buyers,Standout with the Feature Ad tag

In [199]:
new_df.to_csv('lahore_city_used_car.csv')

In [200]:
new_df2=pd.DataFrame()
for j in range(1,111):
  url='https://www.pakwheels.com/used-cars/search/-/mk_honda/ct_karachi/?page={}'.format(j)
  headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win64; x64)AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
  response = requests.get(url,headers=headers)
  soup = BeautifulSoup(response.content,'html.parser')
  all_list=soup.find_all('div', class_='well')
  name=[]
  price=[]
  city=[]
  year=[]
  milage=[]
  engine=[]

  for i in range(1,len(all_list)):

    try:
      name.append(all_list[i].find('a',class_='car-name').text.strip())
    except:
      name.append(np.nan)
    try:
      price.append(all_list[i].find('div',class_='price-details').text.strip())
    except:
      price.append(np.nan)
    try:
      city.append(all_list[i].find_all('ul',class_='list-unstyled')[2].text.strip())
    except:
      city.append(np.nan)
    try:
      year.append(all_list[i].find_all('li')[0].text.strip())
    except:
      year.append(np.nan)
    try:
      milage.append(all_list[i].find_all('li')[1].text.strip())
    except:
      milage.append(np.nan)
    try:
      engine.append(all_list[i].find_all('li')[2].text.strip())
    except:
      engine.append(np.nan)
  d={'Name':name ,'Price':price ,'City':city ,'Year':year ,'Milage':milage ,'Engine':engine }
  df=pd.DataFrame(d)
  new_df2=new_df2.append(df, ignore_index=True)

In [201]:
new_df2

,Name,Price,City,Year,Milage,Engine
0,Honda Vezel 2014 Hybrid Z for Sale,PKR 32.75 lacs,Karachi,2014,"68,000 km",Hybrid . 1500 cc . Automatic
1,Honda Vezel 2021 e-HEV Z for Sale,PKR 87.75 lacs,Karachi,2021,"2,000 km",Hybrid . 1500 cc . Automatic
2,Honda City 2022 Aspire Prosmatec 1.5 i-VTEC f...,PKR 34.5 lacs,Karachi,2022,1 km,Petrol . 1500 cc . Automatic
3,Honda BR-V 2017 i-VTEC S for Sale,PKR 28 lacs,Karachi,2017,"71,000 km",Petrol . 1500 cc . Automatic
4,Honda Civic 2021 Oriel 1.8 i-VTEC CVT for Sale,PKR 47.55 lacs,Karachi,2021,"4,000 km",Petrol . 1800 cc . Automatic
...,...,...,...,...,...,...
3304,Honda City 2016 1.3 i-VTEC for Sale,PKR 21.7 lacs,Karachi,2016,"43,000 km",Petrol . 1300 cc . Manual
3305,Honda Civic Rebirth 2016 Oriel 1.8 i-VTEC CVT ...,PKR 32 lacs,Karachi,2016,"51,000 km",Petrol . 1800 cc . Automatic
3306,Honda Civic EK 1997 VTi 1.6 for Sale,PKR 7.5 lacs,Karachi,1997,"100,000 km",Petrol . 1600 cc . Manual
3307,NaN,NaN,NaN,NaN,NaN,NaN
3308,Honda BR-V 2017 i-VTEC S for Sale,PKR 29 lacs,Karachi,2017,"100,000 km",Petrol . 1500 cc . Automatic

In [202]:
new_df3=pd.DataFrame()
for j in range(1,106):
  url='https://www.pakwheels.com/used-cars/search/-/mk_honda/ct_islamabad/?page={}'.format(j)
  headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win64; x64)AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
  response = requests.get(url,headers=headers)
  soup = BeautifulSoup(response.content,'html.parser')
  all_list=soup.find_all('div', class_='well')
  name=[]
  price=[]
  city=[]
  year=[]
  milage=[]
  engine=[]

  for i in range(1,len(all_list)):

    try:
      name.append(all_list[i].find('a',class_='car-name').text.strip())
    except:
      name.append(np.nan)
    try:
      price.append(all_list[i].find('div',class_='price-details').text.strip())
    except:
      price.append(np.nan)
    try:
      city.append(all_list[i].find_all('ul',class_='list-unstyled')[2].text.strip())
    except:
      city.append(np.nan)
    try:
      year.append(all_list[i].find_all('li')[0].text.strip())
    except:
      year.append(np.nan)
    try:
      milage.append(all_list[i].find_all('li')[1].text.strip())
    except:
      milage.append(np.nan)
    try:
      engine.append(all_list[i].find_all('li')[2].text.strip())
    except:
      engine.append(np.nan)
  d={'Name':name ,'Price':price ,'City':city ,'Year':year ,'Milage':milage ,'Engine':engine }
  df=pd.DataFrame(d)
  new_df3=new_df3.append(df, ignore_index=True)

In [203]:
new_df3

,Name,Price,City,Year,Milage,Engine
0,Honda City 2013 Aspire Prosmatec 1.5 i-VTEC f...,PKR 23.5 lacs,Islamabad,2013,"100,000 km",Petrol . 1500 cc . Automatic
1,Honda Civic 2021 Oriel 1.8 i-VTEC CVT for Sale,PKR 45.5 lacs,Islamabad,2021,"4,500 km",Petrol . 1800 cc . Automatic
2,Honda Civic 2017 Oriel 1.8 i-VTEC CVT for Sale,Call,Islamabad,2017,"70,000 km",Petrol . 1800 cc . Automatic
3,Honda Civic Rebirth 2015 VTi Oriel Prosmatec 1...,PKR 32.7 lacs,Islamabad,2015,"72,224 km",Petrol . 1800 cc . Automatic
4,Honda Civic Rebirth 2013 VTi Oriel 1.8 i-VTEC ...,PKR 22.9 lacs,Islamabad,2013,"80,115 km",Petrol . 1800 cc . Manual
...,...,...,...,...,...,...
3172,Honda Vezel 2014 Hybrid X L Package for Sale,PKR 35.7 lacs,Islamabad,2014,"120,000 km",Hybrid . 1500 cc . Automatic
3173,Honda City 2018 1.3 i-VTEC Prosmatec for Sale,PKR 27.5 lacs,Islamabad,2018,"69,000 km",Petrol . 1300 cc . Automatic
3174,Honda Civic Rebirth 2015 VTi Oriel Prosmatec 1...,PKR 27.5 lacs,Islamabad,2015,"100,000 km",Petrol . 1800 cc . Automatic
3175,NaN,NaN,NaN,NaN,NaN,NaN
3176,Honda City 2014 1.3 i-VTEC for Sale,PKR 21.5 lacs,Islamabad,2014,"83,000 km",Petrol . 1300 cc . Manual

In [205]:
car=pd.concat([new_df,new_df2,new_df3],axis=0,ignore_index=True)

In [206]:
car.shape

(11282, 6)

In [207]:
car.head()

,Name,Price,City,Year,Milage,Engine
0,Honda Civic 2022 Turbo 1.5 VTEC CVT for Sale,Call,Lahore,2022,1 km,Petrol . 1500 cc . Automatic
1,Honda Civic 2016 Oriel 1.8 i-VTEC CVT for Sale,PKR 34.5 lacs,Lahore,2016,"69,000 km",Petrol . 1800 cc . Automatic
2,Honda Vezel 2016 Hybrid Z for Sale,PKR 47.95 lacs,Lahore,2016,"104,502 km",Hybrid . 1500 cc . Automatic
3,Honda Vezel 2016 Hybrid RS Honda Sensing for...,PKR 52.75 lacs,Lahore,2016,"77,920 km",Hybrid . 1500 cc . Automatic
4,Honda Civic 2020 Oriel 1.8 i-VTEC CVT for Sale,PKR 42.5 lacs,Lahore,2020,"47,000 km",Petrol . 1800 cc . Automatic

In [208]:
car['City'].value_counts()

Lahore       4225
Karachi      2937
Islamabad    2824
Name: City, dtype: int64

In [209]:
car.isnull().sum()

Name      1121
Price     1121
City      1296
Year       373
Milage     373
Engine     373
dtype: int64

In [210]:
car.dropna(inplace=True)

In [211]:
car.isnull().sum()

Name      0
Price     0
City      0
Year      0
Milage    0
Engine    0
dtype: int64

In [212]:
car.shape

(9986, 6)